<a href="https://colab.research.google.com/github/FelipeTersariol/python_tests/blob/main/Testando_Graficos_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Desafio em um treinamento proporcionado pela Hashtag Treinamentos, dirigido por Lira.

Ótimo aprendizado do básico de gráficos e análises com Python.

# Desafio: 

Você trabalha em uma grande empresa de Cartão de Crédito e o diretor da empresa percebeu que o número de clientes que cancelam seus cartões tem aumentado significativamente, causando prejuízos enormes para a empresa

O que fazer para evitar isso? Como saber as pessoas que têm maior tendência a cancelar o cartão?

# O que temos:

Temos 1 base de dados com informações dos clientes, tanto clientes atuais quanto clientes que cancelaram o cartão

Download da Base de Dados: https://drive.google.com/file/d/11QNjweaQAYPOID701WNt-_MuSBrqgwYt/view?usp=sharing

Referência: https://www.kaggle.com/sakshigoyal7/credit-card-customers

Passo 1: Importar a base de dados

Passo 2: Visualizar a base de dados e ver se precisa de algum "tratamento"
  - Excluir/Corrigir linhas e valores vazios
  - Ajeitar colunas importadas da forma errada (ex: Moedas, caso haja problema)
  - Excluir colunas inúteis

Passo 3 (não trata-se de código, mas de um exercício individual de análise do que se tem de informação até então): Analisar a base de dados de acordo com o que queremos descobrir
  - Queremos descobrir as principais causas de cancelamento ou quem são os clientes com maior chance de cancelar o cartão, para podermos criar um plano de ação

### Importando a base de dados

In [4]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/Bases_para_Portfolio_e_Testes_py/ClientesBanco.csv', encoding='latin1')

display(df)

       CLIENTNUM  ... Taxa de Utilização Cartão
0      768805383  ...                     0.061
1      818770008  ...                     0.105
2      713982108  ...                     0.000
3      769911858  ...                     0.760
4      709106358  ...                     0.000
...          ...  ...                       ...
10122  772366833  ...                     0.462
10123  710638233  ...                     0.511
10124  716506083  ...                     0.000
10125  717406983  ...                     0.000
10126  714337233  ...                     0.189

[10127 rows x 21 columns]

### Tratamento e visão geral dos dados

In [5]:
df = df.dropna(axis=0, how='all')
df = df.dropna(axis=1, how='all')

display(df.info())
display(df.describe())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10127 entries, 0 to 10126
Data columns (total 21 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   CLIENTNUM                      10127 non-null  int64
 1   Categoria                      10127 non-null  object
 2   Idade                          10127 non-null  int64
 3   Sexo                           10127 non-null  object
 4   Dependentes                    10127 non-null  int64
 5   Educação                       10127 non-null  object
 6   Estado Civil                   10127 non-null  object
 7   Faixa Salarial Anual           10127 non-null  object
 8   Categoria Cartão               10126 non-null  object
 9   Meses como Cliente             10127 non-null  int64
 10  Produtos Contratados           10127 non-null  int64
 11  Inatividade 12m                10127 non-null  int64
 12  Contatos 12m                   10127 non-null  int64
 13  Limite                         10127 non-null  float64
 14  Limite Consumido               10127 non-null  int64
 15  Limite Disponível              10127 non-null  float64
 16  Mudanças Transacoes_Q4_Q1      10127 non-null  float64
 17  Valor Transacoes 12m           10127 non-null  int64
 18  Qtde Transacoes 12m            10127 non-null  int64
 19  Mudança Qtde Transações_Q4_Q1  10127 non-null  float64
 20  Taxa de Utilização Cartão      10127 non-null  float64
dtypes: float64(5), int64(10), object(6)
memory usage: 1.7+ MB

None

          CLIENTNUM  ...  Taxa de Utilização Cartão
count  1.012700e+04  ...               10127.000000
mean   7.391776e+08  ...                   0.274894
std    3.690378e+07  ...                   0.275691
min    7.080821e+08  ...                   0.000000
25%    7.130368e+08  ...                   0.023000
50%    7.179264e+08  ...                   0.176000
75%    7.731435e+08  ...                   0.503000
max    8.283431e+08  ...                   0.999000

[8 rows x 15 columns]